---
permalink: /404.html
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>404</h1>

  <p><strong>Page not found :(</strong></p>
  <p>I kinda didn't make this page yet...</p>
  <p>Oh well. Perhaps you will find something you like <a href="https://thiscatdoesnotexist.com">here</a>. Or maybe you won't. Who can say?</p>
  <br>
  <img src="https://thiscatdoesnotexist.com" width="256" height="256">
</div>
